<div class="media-player">
    <div class="media-player--wrapper ">
        <!--Zona del artista-->
        <div class="artist player-center">
            <ng-container *ngTemplateOutlet="artistZone"></ng-container>
        </div>
        <!--Zona del reproductor-->
        <div class="player-controls player-center">
            <ng-container *ngTemplateOutlet="playerZone"></ng-container>
        </div>
        <!--Zona del controles adicionales-->
        
    </div>
</div>

<!-- ZONE TEMPLATES -->

<ng-template #artistZone>
    
   
</ng-template>

<ng-template #playerZone>
    
</ng-template>

