<div class="card-group mb-3">
    <div *ngFor="let proyecto of pro" class="card" class="tarjeta" >
        <div class="card-body">
          <h5 class="card-title">Poyecto</h5>
          <ul >
            <li>{{proyecto.id}}</li>
            <li>{{proyecto.nombre}}</li>
            <li>{{proyecto.apellido}}</li>
            <li>{{proyecto.rol}}</li>
            <li>{{proyecto.lenguagedeprogramacion}}</li>
            <li>{{proyecto.nombreproyecto}}</li>
            <li>{{proyecto.actividades}}</li>
          </ul>
        </div>
      </div>
</div>
